body{
  background-color: black !important;
  color: white !important;
}

.nav-item{
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.home h1 {
  margin-left: 80px;
  margin-bottom: 10px;
}

/* movieSlide */

.movieSlide{
  width: 95%;
  margin: 0 auto;
}

/* Banner */
.banner {
  display: flex;
  align-items: center;
  height: 600px;
  margin-bottom: 20px;
}

.banner::before {
  position: absolute;
  left: 0;
  width: 100%;
  height: 600px;
  content: '';
  background: linear-gradient(to right, black, transparent);
}

.banner-info{
  width: 40%;
  margin-left: 70px;
  z-index: 1;
}

/* MovieCard */
.card{
  margin: 20px auto;
}
.overlay{
  margin: 10px;
  opacity: 0;

}
.card:hover{
  z-index: 3;
  transform: scale(1.1);
  cursor: pointer;
}
.card:hover .overlay{
  opacity: 1;
  width: 200px;
}

/* MovieDetailBanner */

.MovieDetailBanner{
  background-size: cover;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.movies-box{
  display: inline-block;
}
.movies-box h1{
  font-size: 70px;
  margin-bottom: 20px;
}
.movies-box ul{
  height: 60px;
  font-size: 20px;
  display: flex;
  align-items: center;

  list-style: none;
  border: 1px solid black;
  background-color: white;
  color: gray;
  margin: 0 auto;
}
.movies-box ul li {
  margin: 0 auto;
}

/* MovieDetail */

.MovieDetail img{
  width: 500px;
}

.MovieDetail h1{
  font-size: 80px;
}


.detail_genre {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.detail_genre li{
  background-color: crimson;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 20px;
  margin-bottom: 5px;
  border-radius: 15px;
  color: white;
  font-size: 15px;
}

