@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800");
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: black !important;
  color: white !important;
  font-family: "Montserrat", helvetica, arial, sans-serif;
}

.nav-item {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  font-weight: 300;
  font-family: Montserrat;
}

.home h1 {
  font-size: 32px;
  font-weight: 200;
  margin-left: 130px;
  margin-bottom: 10px;
}

.loading {
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* movieSlide */

.movieSlide {
  width: 85%;
  height: 100%;
  margin: 0 auto;
}

/* Banner */
.banner {
  width: 100%;
  height: 800px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner::before {
  position: absolute;
  left: 0;
  width: 100%;
  height: 800px;
  content: "";
  background: linear-gradient(to top, black, transparent);
}

.banner-info {
  width: 80%;
  margin-left: 70px;
  z-index: 1;
}
.banner-info h1 {
  margin-top: 300px;
  margin-left: 70px;
  font-weight: 700;
}

.banner-info p {
  margin-left: 71px;
}

/* MovieCard */
.card {
  width: 280px;
  margin: 20px auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.badge {
  margin-right: 5px;
}

.overlay {
  margin: 20px;
  opacity: 0;
}

.card:hover {
  z-index: 3;
  transform: scale(1.2);
  cursor: pointer;
  height: 400px;
}

.card:hover .overlay {
  opacity: 1;
}

.info span {
  margin-right: 10px;
}

.movie-card-info {
  display: flex;
}

.movie-card-info ul {
  width: 300px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0;
  list-style: none;
}

.movie-card-info li {
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  font-size: 0.8rem;
  font-weight: 700;
}

/* MovieDetailBanner */

.MovieDetailBanner {
  background-size: cover;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.movies-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.movies-box h1 {
  font-size: 70px;
  margin: 0 auto;
}
.movies-box-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  text-align: center;
  list-style: none;
  border: 1px solid black;
  background-color: white;
  color: rgb(139, 139, 139);

  margin-top: 15px;
  padding-left: 30px;
  padding-right: 30px;
}
.movies-box-title h4 {
  font-size: 20px;
  font-weight: 400;
  padding-top: 6px;
}

/* MovieDetail */

.detail-area {
  width: 90%;
  margin: 0 auto;
}
.MovieDetail-img{
  margin-right: 30px;
}
.MovieDetail-img img {
  width: 100%;
  
}

.detail-title h1 {
  font-size: 60px;
  margin-bottom: 20px;
}
.detail-title h3 {
  margin-bottom: 20px;
}
.users {
  padding-top: 3px;
  margin-right: 10px;
}

.star {
  margin-right: 10px;
}

.movie-count ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0;
  list-style: none;
  border-bottom: 1.5px solid white;
}
.movie-count li {
  margin-right: 50px;
  margin-bottom: 20px;
  font-size: 1.2rem;
  font-weight: 700;
}

.movie-adultInfo {
  font-style: italic;
  color: #e50914;
}

.movie-overview {
  display: block;
  border-bottom: 1.5px solid white;
  padding-bottom: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.detail_genre {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.detail_genre li {
  background-color: #e50914;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 20px;
  margin-bottom: 5px;
  border-radius: 15px;
  color: white;
  font-size: 15px;
}
.movie-info {
  border-bottom: 1.5px solid white;
  margin-bottom: 30px;
}
.movie-info ul {
  padding-left: 0;
}

.movie-info ul li span {
  width: 120px;
  display: inline-block;
  background-color: #e50914;
  border-radius: 15px;
  padding: 5px;
  margin-right: 10px;
  text-align: center;
  font-weight: 700;
}

.movie-info li {
  margin-bottom: 20px;
  list-style: none;
}

.watch-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.watch-button button {
  color: #e50914;
  background-color: black;
  font-size: 1.5rem;
  font-weight: 700;
}

.watch-button button:hover {
  color: white;
}



/*review & related movie  */

.review-related-area {
  margin-top: 50px;
}

.review-button {
  display: flex;
  padding-left: 0;
  list-style: none;
}

.review-button button {
  width: 200px;
  height: 50px;
  margin-right: 30px;
  margin-bottom: 30px;
  font-weight: 700;
  background-color: #e50914;
  color: white;
}

.review-content {
  height: 100%;
  border-radius: 20px;
  border: 2px solid white;
}
.related-content {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 20px;
  border: 2px solid white;
}

.related-content .card {
  width: 40%;
}

/* Review */
.review-data {
  margin: 30px;
  border-bottom: 1.5px solid white;
}
/* Movies */
.Movies {
  width: 80%;
  margin: 0 auto;
}
/* SortSection */

.sort-section {
  width: 350px;

  border: 1px solid white;
  border-radius: 7px;
  font-weight: 400;

  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;

  margin-top: 20px;
  margin-bottom: 20px;
}

.sort-section-closed {
  width: 350px;

  border: 1px solid white;
  border-radius: 7px;
  font-weight: 400;

  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.sort-section_1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  margin-top: 5px;
  margin-bottom: 5px;
}

.sort-section_1 h4 {
  font-weight: 300;
}
.sort-section .sort-dropdown {
  display: none;
  font-weight: 400;
}

.dropdown-item .active {
  background-color: #e50914;
}
.dropdown-item:focus {
  background-color: #e50914 !important;
}

.sort-section .filter {
  display: none;
}

.sort-section-closed span {
  transform: rotate(90deg);
}

.sort-section-closed span:hover {
  cursor: pointer;
}

.sort-dropdown {
  height: 100px;
  border-top: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Filter-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

  margin-top: 20px;
}
.Filter-area h4 {
  font-weight: 300;
}

/* filtergenre */
.filter-genre {
  border-top: 1px solid white;
  margin-top: 20px;
}
.filter-name {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.genreList button {
  padding: 3px 10px;
  margin-right: 10px;
  margin-bottom: 10px;

  color: white;
  border-radius: 7px;
  background: linear-gradient(to bottom, #e50914, transparent);
}

/* slider */

.bar * {
  box-shadow: none !important;
  border: none !important;
}
.multi-range-slider {
  border: 0 !important;
}
.multi-range-slider .bar-inner {
  background-color: #e50914 !important;
  border: 1px solid #e50914 !important;
}

.multi-range-slider .thumb::before {
  background-color: #e50914 !important;
  margin: -6px !important;
  border: none !important;
  box-shadow: none !important;
}

.multi-range-slider .thumb * {
  background-color: #e50914 !important;
  width: 40px !important;
  height: 40px !important;
  line-height: 40px !important;
}

.singleCard {
  display: inline-block;
  margin-top: 20px;
  margin-right: 10px;
}

.singleCard-content {
  width: 80%;
  height: 100%;
  position: relative;
  padding-left: 30px;
  padding-top: 30px;
  background: linear-gradient(90deg, #0d0d0c 30%, transparent);
}

.singleCard-title {
  display: flex;
}

.release-date {
  color: #9ac7fa;
  font-weight: 400;
  font-size: 13px;
}

.release-date p {
  margin-bottom: 10px;
}

.singleCard-title img {
  width: 50px;
  margin-bottom: 10px;
  margin-right: 20px;
}

.singleCard-overview p {
  margin-top: 10px;
  font-size: 12px;
}

.singleCard-info ul {
  width: 300px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0;
  list-style: none;
}

.singleCard-info li {
  margin-top: 30px;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 1rem;
  font-weight: 700;
}

.singleCard-back {
  width: 280px;
  border-radius: 10px;

  margin-bottom: 30px;
  background-size: cover;
  background-repeat: no-repeat;
}

.singleCard:hover {
  cursor: pointer;
}
.singleCard-back:hover {
  transform: translateY(-20px);
}

/* pagination */

.pagination-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.pagination li {
  align-items: center;

  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 3px;
  margin: 10px;

  font-family: sans-serif;
  font-size: 18px;
}

.pagination a {
  text-decoration: none;
  color: white;
}

.pagination .active {
  background-color: #e50914;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .banner {
    width: 100%;
    height: 500px;
  }
  .banner::before {
    height: 500px;
    content: "";
    background: linear-gradient(to top, black, transparent);
  }
  .banner-info{
   width: 95%;
   margin-left: 0;
  }
  .banner-info h1{
    margin-left: 60px;
  }
  .MovieDetail-img{
    margin-right: 0;
    margin-bottom: 30px;
  }
  .movie-count ul li span{
    font-size: 16px;    
  }
  .review-button button {
    margin-right: 10px;
  }
  .movie-card-info ul li{
   font-size: 0.5rem;
  }
}
@media screen and (max-width : 768px) {
  .home h1 {
    margin-left: 50px;
  }
}

@media screen and (max-width : 450px) {

  .review-button button {
    width: 160px;
    height: 50px;
    margin-right: 30px;
    margin-bottom: 30px;
    font-weight: 700;
    background-color: #e50914;
    color: white;
  }
}